<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <% include ../public/head.ejs %>
    <% include ../public/meta.ejs %>
    <% include ../public/font.ejs %>
</head>
<body>
    aaa
    <script src="/js/node_modules/gome-vue-vendor/dist/vendor.js"></script>
    <script src="/js/CommonsChunk/uiKit.js"></script>
    <script src="/js/CommonsChunk/utils.js"></script>
    <script src="/js/demo/index.js"></script>

</body>
</html>