@charset "utf-8";
/*相似页面*/
.seem_load{ background:#fff;overflow:hidden;}
.seem{padding:1rem 0 0 1rem;overflow:hidden;}
.seem_l{position:relative;float:left;width:10.75rem;height:10.75rem; margin-right:-10.75rem; background:#f00;}
.seem_r{float:right; width: 100%; }
.seem_txt{margin-left:12.55rem; padding-right:1rem;  height:12rem; position:relative;border-bottom:1px solid #e6e6e6}
.seem_txt p{ font-size:1.5rem; line-height:1.8rem; padding:0.5rem 1rem 0 0;height:3.5rem;overflow:hidden;}
.seem_txt span{ font-size:1.6rem; color:#ff5c5c; display:block; font-weight:bold; position:absolute; bottom: 1.2rem; left: 0 }
.found{ height:4.4rem; background:#f4f4f4;padding: 0 1rem}
.found_t{ border-bottom:1px solid #e6e6e6; width:100%; height:2.1rem; text-align:center;position:relative;}
.found_b{ position:absolute;top:1.3rem; text-align: center; width: 100%}
.found_b span{background:#f4f4f4;color:#999;padding: 0 0.5rem}
.found2{ height:4.4rem; background:#f4f4f4;padding: 0 8rem}
.found2_t span{background:#f4f4f4;position:absolute; top:1.3rem;left:35%;color:#999;padding: 0 0.5rem}
.seem_txt span i{ font-size:1.2rem; color:#999; padding-left:0.5rem ;}
.overseas{border:1px solid #8c2d99;height:1.3rem; line-height:1.3rem;color:#8c2d99; border-radius:0.2rem;text-align:center;position:absolute;left:0; bottom:4rem ;background: url(../images/s_3.jpg) no-repeat left;
background-size: 1.3rem;padding: 0 0.2rem 0 1.5rem;font-size: 1.2rem }
.private{border:1px solid #ff5c5c;height:1.3rem; line-height:1.3rem;color:#ff5c5c; border-radius:0.2rem;text-align:center;position:absolute;left:0; bottom:4rem ; background: url(../images/s_2.jpg) no-repeat left;
background-size: 1.3rem;padding: 0 0.2rem 0 1.5rem;font-size: 1.2rem}
.private2{border:1px solid #ff5c5c;height:1.3rem; line-height:1.3rem;color:#ff5c5c; border-radius:0.2rem;text-align:center;position:absolute;left:0; bottom:4rem ; background: url(../images/s_5.jpg) no-repeat left;
background-size: 1.3rem;padding: 0 0.2rem 0 1.5rem; font-size: 1.2rem}
.private3{position:absolute;left:0; bottom:4rem ;height:1.3rem; line-height:1.3rem;color:#ff5c5c;font-size: 1.2rem}
.private3_l,.private3_r{border:1px solid #ff5c5c; float:left; margin-right:0.5rem }
.private3_l{padding:0 0.2rem}
.private3_r{ background: url(../images/s_4.jpg) no-repeat left 0;background-size: 1.3rem;padding: 0 0.2rem 0 1.5rem}
/*未找到商品页面*/
.not{ width:17rem; height:17rem; margin:12.2rem auto 1.78rem auto }
.not_txt{ width: 19.5rem; margin:0 auto; color:#999; font-size:1.4rem;text-align:center;}
.seem_not{border:none !important;}