

<!DOCTYPE HTML>
<html>
<head>
<% include ../public/head.ejs %>
<% include ../public/meta.ejs %>
<% include ../public/font.ejs %>
<link rel="stylesheet" type="text/css" href="//css.gomein.net.cn/plus/style/public/css/base.css?v=20170306">
<script>
	var __anit__base__ = document.querySelector('link[href*="base.css"]')
	__anit__base__ ? __anit__base__.parentNode.removeChild(__anit__base__) : 'do nothing'
</script>

	<link rel="stylesheet" href="http://192.168.1.71:3000/style/CommonsChunk/uiKit.css">
	<link rel="stylesheet" href="http://192.168.1.71:3000/style/order/index.css">
<script type="text/javascript">
    var wap_https_url = "https://m.gome.com.cn";
    var ctl = "order_fill";
    var act = "getOrder";
    var modelId = "";
    var __require = {requireArray: [],config: function(param) {this.requireArray.push(param)}}
    var domain_arr = {'WAP_IP':'//m.gome.com.cn', 'WAP_HTTPS_IP':'https://m.gome.com.cn', 'WAP_ITEM_IP':'//item.m.gome.com.cn', 'WAP_JR_IP':'//jr.m.gome.com.cn', 'WAP_TUAN_IP':'//tuan.m.gome.com.cn', 'WAP_Q_IP':'//q.m.gome.com.cn', 'WAP_V_IP':'//v.m.gome.com.cn', 'WAP_U_IP':'//u.m.gome.com.cn', 'WAP_CART_IP':'//cart.m.gome.com.cn'}
    </script>    <title>填写订单页</title>
    <script>
        //  window.sourceData = JSON.parse('{"isSuccess":"Y","isSessionExpired":"N","isActivated":"Y","serverTime":"2017-07-21 20:29:17","isNeedPayPassword":"N","virtualAccountStatus":"1","virtualAccountStatusDesc":"\u56fd\u7f8e\u5e01\u7cfb\u7edf\u7ef4\u62a4!","balance":"0.00","isBalanceAvailable":"N","unAvailableReason":"\u6682\u65e0\u53ef\u7528\u4f59\u989d","orderProdCount":1,"orderAmount":"79.00","freight":"0.00","promDiscount":"0.00","payAmount":"79.00","openMybPayFunction":"N","isSupportMyb":"N","availableTicketCount":0,"usedTicketAmount":"0.00","usedTicketAmountDesc":"\u5df2\u62b5\u7528\u00a50.00","points":"\u53ef\u7528100\u7f8e\u8c46 \u62b5\u00a51.00\u5143","availablePoint":"1.00","storePoints":"0.0","availableStorePoint":"0","isUseGomePoint":"N","allowanceAmount":"0.0","rateAmount":"0.00","address":{"name":"rt5","consignee":"rt5","address":"111","zipCode":"","mobile":"186****9834","email":"","provinceId":"11000000","cityId":"11010000","districtId":"11010200","provinceName":"\u5317\u4eac","cityName":"\u5317\u4eac\u5e02","districtName":"\u671d\u9633\u533a","townId":"110102002","townName":"\u671d\u5916\u8857\u9053","isDefault":"true"},"paymentMethodDesc":"\u5728\u7ebf\u652f\u4ed8","shippingTimeSmi":"\u65f6\u95f4\u4e0d\u9650","shippingMethod":"\u666e\u901a\u5feb\u9012","logisticsGoodsInfo":{"goodCounts":1,"distributionDesc":"\u7531\u5546\u5bb6\u63d0\u4f9b\u914d\u9001\u670d\u52a1   ","goodsList":[{"skuID":"pop8006651880","goodsNo":"A0005421459","skuName":"GOME\u9152\u7a96 \u604b\u7231\u5b63\u4f4e\u9187\u8d77\u6ce1\u767d\u8461\u8404\u9152750ml","skuThumbImgUrl":"\/\/gfs17.gomein.net.cn\/T115LvB_Ej1RCvBVdK_80.jpg","commerceItemID":"3148298177","goodsType":"1","goodsCount":1,"originalPrice":"79.00","totalPrice":"79.00","shareSource":"","attributes":[],"isBbc":"N","goodIsSelected":"N","canSelect":"Y","allowanceRateDesc":"\u8282\u80fd\u8865\u8d340%","hasBuyWarranty":"N","peijianGoodsList":[],"canModify":"Y","canDel":"Y","supportService":[{"serviceType":"7","serviceDesc":"\u4e0d\u652f\u63017\u5929\u65e0\u7406\u7531\u9000\u8d27"}],"isHaiWaiGoods":"N","deliveryType":"0","countByCoorPer":0}]},"isSupportGomeStore":"N","isSupportPrepaidCard":"N","isShowPicCaptcha":"N","invoiceUnionInfo":{"onInviceDesc":"\u6682\u4e0d\u9700\u8981\u53d1\u7968","allowUpdate":"Y"},"identificationBean":{"nameJiXin":"\u673a\u4e3b\u59d3\u540d:null","identificationNumJiXin":"\u8eab\u4efd\u8bc1\u53f7\u7801:null","mobileNumber":"\u624b\u673a\u53f7\u7801: null","setMealName":"\u5408\u7ea6\u5957\u9910: null","area":"\u5165\u7f51\u5730\u533a: null null"},"declareInfos":[{"key":"storeDeclare","value":"\u5982\u9700\u9009\u62e9\u5176\u4ed6\u7701\u5e02\u95e8\u5e97\uff0c\u8bf7\u5148\u9009\u62e9\u6216\u4fee\u6539\u5230\u8be5\u7701\u5e02\u7684\u914d\u9001\u5730\u5740"}],"prepaidCardAomount":"0.00","availablePrepaidCardCount":0,"userMobile":"186****9784","canUseKeyt":"Y","keytStatus":"0","isShowOutOfStock":"N","notice":"\u8ba2\u5355\u4e2d\u542b\u4e0d\u652f\u6301\u4e03\u5929\u65e0\u7406\u7531\u9000\u8d27\u5546\u54c1\uff0c\u8bf7\u786e\u8ba4\u540e\u63d0\u4ea4","execute_time":0.149128}')
    </script>
    
</head>
<body>
	<div id="pre-loading" class="loading-container">
		<div class="loading-wrapper">
			<div class="loading loading_play">
			</div>
		</div>
	</div>
	<div id="app"></div>
    <script src="http://192.168.1.71:3000/js/node_modules/gome-vue-vendor/dist/vendor.js"></script>
    <script src="http://192.168.1.71:3000/js/CommonsChunk/uiKit.js"></script>
    <script src="http://192.168.1.71:3000/js/CommonsChunk/utils.js"></script>
    <script src="http://192.168.1.71:3000/js/CommonsChunk/bridge.js"></script>
    <script src="http://192.168.1.71:3000/js/order/index.js"></script>
</body>
</html>