.tab_nav:not(.tab_nav_swipe) {
    padding: 0;
}

.tab_nav ul li {
    width: 25%;
    overflow: hidden;
}

.tab_nav ul li a {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
    -webkit-align-items: center;
    padding: 0 0.12rem;
    overflow: hidden;
}
.tab_nav ul li a.item_all_category span{
    height: 1.03rem;
    width: 1%;
}
.tab_nav ul li a .fold_icon {
    display: block;
    font-size: 0.21rem;
    margin-left: 0.12rem;
    color: #cfcfcf;
}

.tab_nav ul li a .fold_icon.up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tab_nav ul li a.active .fold_icon {
    color: #ff5c5c;
}
.tab_nav ul li a.active span {
    color: #ff5c5c;
}
.tab_nav ul li a .order_icon {
    display: block;
    width: 0.23rem;
    height: 0.33rem;
    background: url('../images/price_gray.png') 0 0.02rem no-repeat;
    background-size: 0.23rem auto;
    margin-left: 0.12rem;
}

.tab_nav ul li a .order_icon.down {
    background: url('../images/price_down_icon.png') 0 0.02rem no-repeat;
    background-size: 0.23rem auto;
}

.tab_nav ul li a .order_icon.up {
    background: url('../images/price_up_icon.png') 0 0.02rem no-repeat;
    background-size: 0.23rem auto;
}

.desc_tit {
    line-height: 0.68rem;
    padding: 0 0.23rem;
    color: #666;
    font-size: 0.30rem;
}
.goods_list {
    margin-bottom: 0.23rem;
}
.goods_list_box {
    margin-bottom: 1.64rem;
}

.goods_list li a{
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.23rem 0 0 0.12rem;
    background: #fff;
}

.goods_list li .pic_box {
    width: 2.11rem;
    height: 2.11rem;
    margin-right: 0.23rem;
}

.goods_list li .info_box {
    padding-right: 0.23rem;
    padding-bottom: 0.70rem;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.goods_list li:last-child .info_box{
    border: none;
}
.goods_list li .info_box .title {
    height: 0.70rem;
    line-height: 0.35rem;
    margin-bottom: 0.23rem;
    font-size: 0.30rem;
    overflow: hidden;
}

.goods_list li .tag {
    display: inline-block;
    height: 0.28rem;
    font-size: 0.23rem;
    padding: 0 0.05rem;
    line-height:0.30rem;
    margin-right: 0.05rem;
    border: 1px solid #ff5c5c;
    border-radius: 2px;
    color: #ff5c5c;
}
.goods_list li .info_box .price_box{
    margin-bottom: 0.12rem;
}
.goods_list li .info_box .price {
    color: #ff5c5c;
    font-size: 0.40rem;
    margin-right: 0.12rem;
}

.goods_list li .info_box .comm_num {
    color: #999;
}
.goods_list li{
    position:relative;
}
.goods_list li .add_shop_btn {
    position: absolute;
    right: 0.00rem;
    bottom: 0.00rem;
    width: 0.66rem;
    height: 0.66rem;
    line-height: 0.66rem;
    text-align: center;
/*    padding: 0.09rem;*/
    border: 1px solid #e6e6e6;
    border-radius: 100%;
    color: #ff5c5c;
    font-size: 0.42rem;
    box-sizing:border-box;
    margin:0.23rem;
}

.fixed_btn_box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.17rem;
    background:#f9f9f9;
    border-top: 1px solid #e6e6e6;
}

.fixed_btn_box .go_cart_btn {
    height: 100%;
}

.fixed_btn_box .price_info_box {
    color: #666;
    text-align: right;
    padding-right: 0.19rem;
}

.fixed_btn_box .price_info_box p:first-child {
    font-size: 0.35rem;
    color: #333;
}
.fixed_btn_box .price_info_box p:last-child{
    font-size: 0.28rem;
}
.fixed_btn_box .price_info_box p:first-child em.all {
    color: #ff5c5c;
    font-size: 0.38rem;
}

.tab_nav_container {
    position: relative;
    width: 100%;
    height: 1.03rem;
}

.tab_nav_container .tab_nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.tab_nav_container .category_mask {
    display: none;
    position: fixed;
    top: 2.06rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.tab_nav_container .category_mask.show {
    display: block;
}

.category_container {
    display: none;
    position: absolute;
    top: 1.03rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 7.03rem;
    background: #fff;
    overflow: hidden;
}

.category_container.show {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.category_container .main_nav_box {
    width: 40%;
}
.category_container .sub_nav_box ul{
    display: none;
}
.category_container .sub_nav_box  ul:first-child{
    display: block;
}
.category_container .main_nav_box li a,
.category_container .sub_nav_box li a {
    display: block;
    padding-left: 0.38rem;
    line-height: 0.89rem;
    font-size: 0.33rem;
    box-sizing: border-box;
}

.category_container .main_nav_box li a.active {
    color: #ff5c5c;
    background: #f2f2f2;
    border-left: 2px solid #ff5c5c;
}

.category_container .sub_nav_box {
    background: #f2f2f2;
}

.category_container .sub_nav_box li a.active {
    color: #ff5c5c;
}
.icon_tag_box {
    display: inline-block;
    height: 0.33rem;
    line-height: 0.33rem;
    background: #fff;
    color: #ff5c5c;
    font-size: 0.28rem;
    border: 1px solid #ff5c5c;
    border-radius: 2px;
    padding-right: 0.05rem;
    overflow: hidden;
}
.icon_tag_box i {
    float: left;
    display: box;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    box-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 0.33rem;
    height: 100%;
    text-align: center;
    background: #ff5c5c;
    color: #fff;
    margin-right: 0.05rem;
    font-size: 0.26rem;
    border-radius: 0;
}
.loading-container{
    transition: opacity .25s;
    opacity: 1;
    position: relative;
    min-height: 0.70rem;
    margin-top: 0.23rem;
    color: #999;
    font-size: 0.47rem;
    margin-bottom: 1.41rem;
}

.loading-indicator {
    animation: 1s linear 0s normal none infinite loading;
    -webkit-animation: 1s linear 0s normal none infinite loading;
    height: 0.47rem;
    font-size: 0.47rem;
    text-align: center;
    line-height: 0.47rem;
    margin-right: 0.09rem;

}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}
.goods_list li.no-data{
     display: block;
     background: #f2f2f2;
}
.no-data {
   
    text-align: center
}

.no-data .img {
    margin: 0.47rem auto;
    width: 3.75rem;
    height: 3.75rem
}

.no-data .img img {
    width: 3.98rem;
    height: auto
}

.no-data .tip {
    font-size: 0.33rem;
    color: #999;
    line-height: 0.47rem;
    margin: 0.94rem 0 0.35rem 0
}